/* Background image swapping */
.header-banner {
  background-image: url("/src/assets/banner-1-1536672.webp");
}

@media (min-width: 768px) {
  .header-banner {
    background-image: url("/src/assets/banner-2-25601440.webp");
    background-size: cover;
  background-position: center;
  }
}

@media (min-width: 1200px) {
  .header-banner {
    background-image: url("/src/assets/banner-3-38402120.webp");
  }
}

/* Optional: subtle fade-in animation */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeIn {
  animation: fadeIn 1.2s ease-in-out forwards;
}


/* section css */
.theme-transition {
  height: 80px; /* adjust depending on how smooth you want the fade */
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 0%,
    rgba(106, 113, 139, 0.4) 40%,
    rgba(101, 83, 98, 0.5) 70%,
    rgba(231, 219, 202, 0.9) 100%
  );
  box-shadow: 0 -10px 20px rgba(106, 113, 139, 0.5);
}
/* section css end  */