/* Ensure the root takes full height */
html, body, #root {
  height: 100%;
  margin: 0;
  font-family: 'Inter', sans-serif;
  background: linear-gradient(
    to bottom,
    rgba(106, 113, 139, 0.3) 0%,
    rgba(101, 83, 98, 0.4) 30%,
    rgba(148, 145, 163, 0.5) 60%,
    rgba(231, 219, 202, 0.9) 100%
  );
}

/* Optional wrapper styling */
.theme-wrapper {
  border: 1px solid;
  min-height: 100%;
}
